@import "variables"
*
  font-family: 'MuseoModerno', cursive
.container
  max-width: 950px
  margin: 0 auto

@import "blocks/promo"
@import "blocks/adventages"
@import "blocks/items"
@import "particles/header"
@import "particles/buttons"
@import "particles/title"
@import "media"
