.catalog
  padding: 40px 0
  min-height: 1144px
  .title
    font-weight: 700
  &__tabs
    margin: 47px auto 0
    width: 643px
    display: flex
    justify-content: space-between
    list-style-type: none
  &__tab
    background: rgba(0, 0, 0, 0.0001)
    border: 1px solid #D0D0D0
    box-sizing: border-box
    transform: skewX(-25deg)
    height: 50px
    width: 220px
    line-height: 48px
    text-align: center
    margin-right: 10px
    color: #6B6B6B
    text-transform: uppercase
    font-weight: 400
    font-size: 18px
    transition: 0.4s all
    cursor: pointer
    &_active
      background-color: $main-color
      color: #FFFFFF
      border: none
    div
      transform: skewX(25deg)
    &:hover
      box-shadow: 2px 3px 9px 0  $main-color
      border: none
  &__content
    justify-content: center
    flex-wrap: wrap
    margin-top: 57px
    display: none
    transition: 0.4s all
    margin-left: 10px
    &_active
      display: flex
  &-item
    background: #FFFFFF
    border: 2px solid #E8E8E8
    box-sizing: border-box
    width: 303px
    min-height: 442px
    padding: 20px
    text-align: center
    margin-bottom: 17px
    margin-right: 10px
    overflow: hidden
    &__img
      margin: 0 auto
      display: block
      max-width: 100%
    &__title
      color: #0D0D0D
      text-align: center
      font-weight: 700
    &__descr
      color: #0D0D0D
      font-weight: 300
      font-size: 14px
      line-height: 22px
      width: 250px
      margin: 15px auto 0
    &__link
      color: $main-color
      text-align: center
      text-decoration-line: underline
      font-weight: 500
      font-size: 14px
      text-transform: uppercase
      display: block
      margin-top: 12px
      &:hover
        color: $main-color
    hr
      margin: 17px 20px 0
    &__footer
      margin-top: 17px
      display: flex
      justify-content: space-between
      align-items: center
    &__old-price
      color: #555555
      text-decoration-line: line-through
      font-weight: 300
      font-size: 14px
    &__price
      color: #050505
      font-weight: 700
      font-size: 20px
    &__wrapper
      display: flex
      justify-content: space-between
      width: calc(200% + 40px)
    &__main
      width: 50%
      transform: translateX(-100%)
      margin-right: 0
      transition: 0.4s all
      &_active
        transform: translateX(0%)
        margin-right: 20px
    &__submain
      width: 50%
      list-style-type: none
      position: relative
      transition: 0.4s all
      transform: translateX(0%)
      padding: 0
      margin-left: 20px
      margin-bottom: 0
      &_active
        transform: translateX(-100%)
        margin-left: 0
        margin-bottom: 0
        bottom: 0
      li
        position: relative
        padding-left: 30px
        max-width: 251px
        font-weight: 300
        font-size: 14px
        line-height: 20px
        color: #555555
        text-align: left
        margin-bottom: 5px
        bottom: 0
        &:before
          content: ''
          width: 6px
          height: 6px
          background: $main-color
          position: absolute
          top: 24%
          transform: translateY(-50%)
          left: 10px
    &__back
      text-decoration-line: underline
      text-transform: uppercase
      font-weight: 500
      font-size: 14px
      color: $main-color
      position: absolute
      left: 50%
      transform: translateX(calc(-50% - 20px))
      bottom: 0
      &:hover
        color: $main-color
  @media ( max-width: 1199px )
    padding: 0
  @media ( max-width: 991px )
    padding: 25px 0
    &__tabs
      margin-top: 24px
      max-width: 520px
    &__tab
      height: 40px
      line-height: 39px
      font-size: 15px
      margin-right: 5px
    &__content
      margin-top: 40px
    &-item
      font-size: 16px
      min-height: 430px
      padding-bottom: 0
      &__descr
        font-size: 14px
        width: 210px
        margin-top: 9px
        line-height: 19px
      &__link
        margin-top: 10px
        font-size: 13px
  @media ( max-width: 767px )
    padding-left: 0
    &__content
      margin-top: 30px
    &-item
      width: 260px
      padding: 20px 10px
      &__footer
        flex-direction: column
        div
          display: flex
          justify-content: space-evenly
          align-items: center
          width: 100%
      .button
        margin-top: 13px
        width: 196px
        height: 38px
      &__submain
        li
          padding-left: 30px
          max-width: 210px
  @media ( max-width: 575px )
    padding-left: 10px
    //.title
    //  font-size: 18px
    &__tabs
      flex-direction: column
      justify-content: space-between
      align-items: center
      height: 126px
      margin-top: 15px
      padding-left: 0
      width: auto
    &__tab
      height: 35px
      width: 220px
      line-height: 36px
    &__content
      margin-left: 0
    &-item
      padding: 10px
      &__img
        height: 210px
      &__descr
        margin-top: 6px
      &__footer
        margin-top: 10px